Applicazioni2025-07-31/SIASS/Service References/ANSOLOServiceReference/AnsoloWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.arpal.org/ansolo" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.arpal.org/ansolo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Anagrafiche ANSOLO</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.arpal.org/ansolo">
      <s:element name="InserimentoUtenteGSO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cognome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idUtenteGSO" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ignorareOmonimie" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserimentoUtenteGSOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InserimentoUtenteGSOResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RicercaSoggetti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cognomeNomeMatricolaRagioneSociale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codiceTipologia" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ricercaParziale" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="numeroMassimoRisultati" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="soloValidi" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RicercaSoggettiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RicercaSoggettiResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RicercaSoggettiCognomeNome">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cognome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RicercaSoggettiCognomeNomeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RicercaSoggettiCognomeNomeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DettagliSoggetto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDAnagrafica" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DettagliSoggettoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DettagliSoggettoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdAnsoloPerIdUtenteGSO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDUtenteGSO" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdAnsoloPerIdUtenteGSOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdAnsoloPerIdUtenteGSOResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ElencoUtentiValidi">
        <s:complexType />
      </s:element>
      <s:element name="ElencoUtentiValidiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ElencoUtentiValidiResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InserimentoUtenteGSOSoapIn">
    <wsdl:part name="parameters" element="tns:InserimentoUtenteGSO" />
  </wsdl:message>
  <wsdl:message name="InserimentoUtenteGSOSoapOut">
    <wsdl:part name="parameters" element="tns:InserimentoUtenteGSOResponse" />
  </wsdl:message>
  <wsdl:message name="RicercaSoggettiSoapIn">
    <wsdl:part name="parameters" element="tns:RicercaSoggetti" />
  </wsdl:message>
  <wsdl:message name="RicercaSoggettiSoapOut">
    <wsdl:part name="parameters" element="tns:RicercaSoggettiResponse" />
  </wsdl:message>
  <wsdl:message name="RicercaSoggettiCognomeNomeSoapIn">
    <wsdl:part name="parameters" element="tns:RicercaSoggettiCognomeNome" />
  </wsdl:message>
  <wsdl:message name="RicercaSoggettiCognomeNomeSoapOut">
    <wsdl:part name="parameters" element="tns:RicercaSoggettiCognomeNomeResponse" />
  </wsdl:message>
  <wsdl:message name="DettagliSoggettoSoapIn">
    <wsdl:part name="parameters" element="tns:DettagliSoggetto" />
  </wsdl:message>
  <wsdl:message name="DettagliSoggettoSoapOut">
    <wsdl:part name="parameters" element="tns:DettagliSoggettoResponse" />
  </wsdl:message>
  <wsdl:message name="IdAnsoloPerIdUtenteGSOSoapIn">
    <wsdl:part name="parameters" element="tns:IdAnsoloPerIdUtenteGSO" />
  </wsdl:message>
  <wsdl:message name="IdAnsoloPerIdUtenteGSOSoapOut">
    <wsdl:part name="parameters" element="tns:IdAnsoloPerIdUtenteGSOResponse" />
  </wsdl:message>
  <wsdl:message name="ElencoUtentiValidiSoapIn">
    <wsdl:part name="parameters" element="tns:ElencoUtentiValidi" />
  </wsdl:message>
  <wsdl:message name="ElencoUtentiValidiSoapOut">
    <wsdl:part name="parameters" element="tns:ElencoUtentiValidiResponse" />
  </wsdl:message>
  <wsdl:portType name="AnsoloWebServiceSoap">
    <wsdl:operation name="InserimentoUtenteGSO">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Funzione per l'inserimento nel sistema di utenti registrati in GSO Destinata a essere utilizzata dall'applicativo GSO</wsdl:documentation>
      <wsdl:input message="tns:InserimentoUtenteGSOSoapIn" />
      <wsdl:output message="tns:InserimentoUtenteGSOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RicercaSoggetti">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Funzione per la ricerca di soggetti sulla base di cognome, nome, ragione sociale, matricola, tipologia</wsdl:documentation>
      <wsdl:input message="tns:RicercaSoggettiSoapIn" />
      <wsdl:output message="tns:RicercaSoggettiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RicercaSoggettiCognomeNome">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Funzione per la ricerca di soggetti sulla base di cognome e nome con corrispondenza esatta</wsdl:documentation>
      <wsdl:input message="tns:RicercaSoggettiCognomeNomeSoapIn" />
      <wsdl:output message="tns:RicercaSoggettiCognomeNomeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DettagliSoggetto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Funzione per la lettura dei dettagli di uno specifico soggetto compresi ultimo recapito e situazione contratto</wsdl:documentation>
      <wsdl:input message="tns:DettagliSoggettoSoapIn" />
      <wsdl:output message="tns:DettagliSoggettoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IdAnsoloPerIdUtenteGSO">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Funzione per determinare l'id utente ANSOLO corrispondente a un id utente GSO  Se l'id o la scheda non sono trovati è restituito 0</wsdl:documentation>
      <wsdl:input message="tns:IdAnsoloPerIdUtenteGSOSoapIn" />
      <wsdl:output message="tns:IdAnsoloPerIdUtenteGSOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ElencoUtentiValidi">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elenco delle anagrafiche relative ai soggetti di tipo persona fisica (cod_tipologia = PF) e con data di fine validità non specificata o successiva a quella corrente</wsdl:documentation>
      <wsdl:input message="tns:ElencoUtentiValidiSoapIn" />
      <wsdl:output message="tns:ElencoUtentiValidiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AnsoloWebServiceSoap" type="tns:AnsoloWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserimentoUtenteGSO">
      <soap:operation soapAction="http://www.arpal.org/ansolo/InserimentoUtenteGSO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaSoggetti">
      <soap:operation soapAction="http://www.arpal.org/ansolo/RicercaSoggetti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaSoggettiCognomeNome">
      <soap:operation soapAction="http://www.arpal.org/ansolo/RicercaSoggettiCognomeNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DettagliSoggetto">
      <soap:operation soapAction="http://www.arpal.org/ansolo/DettagliSoggetto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdAnsoloPerIdUtenteGSO">
      <soap:operation soapAction="http://www.arpal.org/ansolo/IdAnsoloPerIdUtenteGSO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoUtentiValidi">
      <soap:operation soapAction="http://www.arpal.org/ansolo/ElencoUtentiValidi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnsoloWebServiceSoap12" type="tns:AnsoloWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserimentoUtenteGSO">
      <soap12:operation soapAction="http://www.arpal.org/ansolo/InserimentoUtenteGSO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaSoggetti">
      <soap12:operation soapAction="http://www.arpal.org/ansolo/RicercaSoggetti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RicercaSoggettiCognomeNome">
      <soap12:operation soapAction="http://www.arpal.org/ansolo/RicercaSoggettiCognomeNome" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DettagliSoggetto">
      <soap12:operation soapAction="http://www.arpal.org/ansolo/DettagliSoggetto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdAnsoloPerIdUtenteGSO">
      <soap12:operation soapAction="http://www.arpal.org/ansolo/IdAnsoloPerIdUtenteGSO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElencoUtentiValidi">
      <soap12:operation soapAction="http://www.arpal.org/ansolo/ElencoUtentiValidi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnsoloWebService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Anagrafiche ANSOLO</wsdl:documentation>
    <wsdl:port name="AnsoloWebServiceSoap" binding="tns:AnsoloWebServiceSoap">
      <soap:address location="https://localhost/ansolo/ws/AnsoloWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AnsoloWebServiceSoap12" binding="tns:AnsoloWebServiceSoap12">
      <soap12:address location="https://localhost/ansolo/ws/AnsoloWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>